* {
  border: 100px;
  box-sizing: border-box;
  padding: 0px;
}
body {
  background-color: #f7efe5;
}
#home {
  background-image: url(/portfolio-main/portfolio.photos/bg2.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  width: auto;
}
/****************NAVIGATION BAR***********************/
.navigation {
  background-color: #202124;
}
/****************HOMEE PAGEEE***********************/
.logo-box {
  padding-top: 200px;
}
.logo-name {
  color: #eacaff;
  font-size: 140px;
  font-weight: 700px;
  font-family: "Dancing Script", cursive;
  text-align: center;
}
.sub-title {
  color: #eacaff;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}
.btn1 {
  padding-top: 30vh;
}
.btn1 a {
  margin: 1px solid white;
}
.btn-text {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.btn1 i {
  font-size: 20px;
}
.btn1 i:hover {
  color: white;
  opacity: 0.4;
}
.button-first {
  padding: 6px 8px;
  border-radius: 8px;
  background-color: none;
}
/********ABOUT SECTION*************************/
#about-us {
  background-color: #f7efe5;
  height: 100vh;
}
.about1 {
  padding-top: 80px;
}
.about1 h2 {
  font-size: 45px;
  font-family: "Fira Sans", sans-serif;
  padding-bottom: 30px;
}
.abt-h2 {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  padding-bottom: 10px;
}
.abt-p {
  text-align: justify;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .btn1 {
    padding-top: 5vh;
  }
}
@media screen and (max-width: 480px) {
  #about-us {
    background-color: #f7efe5;
    height: 180vh;
  }
}
@media screen and (max-width: 890px) {
  #about-us {
    background-color: #f7efe5;
    margin-bottom: 40vh;
  }
}
@media screen and (max-width: 1000px) {
  #about-us {
    background-color: #f7efe5;
    margin-bottom: 40vh;
  }
}
@media screen and (max-width: 780px) {
  #about-us {
    margin-bottom: 55vh;
  }
}
/****************TEAMM SECTIONNNN***********************/
#our-team {
  background-color: #2e3134;
  height: 110vh;
}
.team-h3 {
  padding-top: 70px;
  color: white;
  font-size: 45px;
  font-family: "Fira Sans", sans-serif;
}
.team-p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
.team .card {
  box-shadow: 7px 7px 10px #555555;
}
.services .card-body i {
  font-size: 50px;
}
.team .card-body i {
  font-size: 20px;
}
.heh {
  background-color: #444444;
  border: 0px;
}
.socials a i {
  color: #eacaff;
  padding-right: 10px;
}
.card-title {
  font-family: "Fira Sans", sans-serif;
}
.btn-resume a button {
  font-size: 20px;
  padding: 6px 20px;
  border-radius: 15px;
  color: white;
  background-color: #9d4edd;
  font-family: "Fira Sans", sans-serif;
}
@media screen and (max-width: 480px) {
  #our-team {
    background-color: #2e3134;
    height: 400vh;
    margin-bottom: 50vh;
  }
}
@media screen and (max-width: 414px) {
  #our-team {
    background-color: #2e3134;
    height: 220vh;
  }
}
@media screen and (max-width: 750px) {
  #our-team {
    background-color: #2e3134;
    height: 250vh;
  }
}
@media screen and (max-width: 780px) {
  #our-team {
    background-color: #2e3134;
    height: 220vh;
  }
}
@media screen and (max-width: 720px) {
  #our-team {
    background-color: #2e3134;
    height: 250vh;
    margin-bottom: 20vh;
  }
}
/************************SERVICESS SECTION*************************/
#services {
  background-color: #f7efe5;
  height: 100vh;
}
.services-h3 {
  padding-top: 70px;
  font-size: 45px;
  font-family: "Fira Sans", sans-serif;
}
.gallery {
  box-shadow: 15px 15px 10px #eacaff;
}
.services-p {
  padding: 0px;
  margin: 0px;
  font-size: 17px;
  font-family: "Fira Sans", sans-serif;
}
.services-p2 {
  margin-bottom: 70px;
}
.card-title2 {
  color: black;
  padding: 6px 7px;
  margin: 15px 0px;
  border-radius: 13px;
  font-family: "Fira Sans", sans-serif;
}
.card-body i {
  font-size: 40px;
  color: #9d4edd;
}
@media screen and (max-width: 414px) {
  #services {
    height: 150vh;
    margin-bottom: 30vh;
  }
}
/************************GALLERY SECTION*************************/
#gallery {
  background-color: #2e3134;
  height: 50vh;
}
.gallery-h3 {
  color: white;
  padding-top: 70px;
  font-size: 45px;
  font-family: "Fira Sans", sans-serif;
}
.gallery-p {
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: 17px;
  font-family: "Fira Sans", sans-serif;
}
.gallery-p2 {
  color: white;
  margin-bottom: 70px;
  font-family: "Fira Sans", sans-serif;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: "Fira Sans", sans-serif;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  font-family: "Fira Sans", sans-serif;
}
.btn-gallery {
  margin-top: 20px;
  padding: 7px 18px;
  background-color: #9d4edd;
  border-radius: 15px;
}
.btn-gallery a {
  text-decoration: none;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 414px) {
  #carouselss {
    background-color: #2e3134;
    height: 120vh;
    margin-top: 0px;
  }
  .carousel-caption h5, .carousel-caption p, .carousel-caption button{
    margin-top: 25vh;
  }
}
/************************CONTACT SECTION*************************/
.contacts-h3 {
  padding-top: 70px;
  font-size: 45px;
  font-family: "Fira Sans", sans-serif;
}
.contacts-p {
  margin: 0px;
  font-size: 17px;
  font-family: "Fira Sans", sans-serif;
}
.contacts-p2 {
  font-family: "Fira Sans", sans-serif;
}
