body {
  background-color: #cfdef3;
  font-family: cursive;
  text-align: center;
}

form {
  background-color: #e0eafc;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 5px 8px 10px rgba(48, 49, 49, 0.5);
}

.form-control {
  text-align: left;
  margin-bottom: 9px;
  font-family: cursive;
}

.form-control label {
  display: block;
  margin-bottom: 2px;
  font-family: cursive;
}
.form-group {
  border-radius: 10px;
}
.form-control input {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: cursive;
  padding: 10px;
  display: block;
  width: 95%;
  margin-top: 3px;
}
.form-control select {
  border: 1px solid #777;
  border-radius: 2px;
  font-family: cursive;
  padding: 10px;
  display: block;
  width: 95%;
  margin-top: 3px;
}
.form-control textarea {
  border: 1px solid #080808;
  border-radius: 2px;
  border-style: hidden;
  font-family: cursive;
  padding: 10px;
  display: block;
  width: 95%;
  margin-top: 3px;
}

.form-control input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
  font-family: cursive;
}
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
  font-family: cursive;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: #4ca1af;
  border: 1px solid #777;
  border-radius: 5px;
  font-family: cursive;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
